<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

	<title>NI Constitencies</title>
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style>
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: lavender;
   color: black;
   text-align: right;
}
</style>
	
	
</head>

<body>
		
	<nav th:replace="layouts/nav :: navFragment">
		
	</nav>
		
		
	<div class="jumbotron text-center" >
		<h2>NI Constitencies</h2>
	</div>
	
	<div class="container">
         <h2>All Constitencies</h2>
         <div class="btn-group btn-group-justified">
           <a href="/members" class="btn btn-info">Constitencies</a>
         </div>
	</div>

<div class="footer">
  <p>Copyright Marc Milliken</p>
</div>

</body>
</html>