<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

	<title>NI Constitency Assembly Members</title>
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

   <nav th:replace="layouts/nav :: navFragment">

	</nav>

<div class="container">
  <h2>Assembly Members</h2>        
  <table class="table table-bordered" id="myTable">
    <thead>
      <tr>
     	 <th>Member First Name</th>
		<th>Member Last Name</th>
		<th>Member Title</th>
		<th>Party Name</th>
		<th>Constituency Name</th>
		<th>Member Image</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="member : ${member}">
      	<td th:text="${member.memberFirstName}"></td>
        <td th:text="${member.memberLastName}"></td>
        <td th:text="${member.memberTitle}"></td>
        <td th:text="${member.partyName}"></td>
        <td th:text="${member.constituencyName}"></td>
        <td><img src="" th:src="@{http://aims.niassembly.gov.uk/images/mla/} + ${member.personId} + '_s.jpg'" width="150" height="180" /></td>
      </tr>
    </tbody>
  </table>
  
</div>


</body>
</html>