<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<title>Breakfast Cereals</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<nav th:replace="layouts/nav :: navFragment"></nav>

	<div class="container"></div>

	<div class="container">
		<h2>Breakfast Cereals</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Manufacturer</th>
					<th>Cereal</th>
					<th>View, Edit, Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cereal : ${cereals}">
					<td th:text="${cereal.manufacturer}"></td>
					<td th:text="${cereal.name}"></td>
					<td><a href="#" th:href="@{cereals/view/} + ${cereal.cerealId}">View</a> 
						<a href="#" th:href="@{cereals/edit/} + ${cereal.cerealId}">Edit</a> 
						<a href="#" th:href="@{cereals/delete/} + ${cereal.cerealId}">Delete</a> </td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="/cereals/add" role="button">Add New</a>
	</div>




</body>
</html>