<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<title>RHI Applicant</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<nav th:replace="layouts/nav :: navFragment"></nav>

	<div class="jumbotron text-center">

		<h1 th:text="${applicant.name}"></h1>
		<br />
	</div>
	
	
	<div class="container">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Application Date</td>
					<td th:text="${applicant.date}"></td>
				</tr>
				<tr>
					<td>Business or Installation Location</td>
					<td th:text="${applicant.location}"></td>
				</tr>
				<tr>
					<td>Technology Type Installation</td>
					<td th:text="${applicant.techType}"></td>
				</tr>
				<tr>
					<td>Capacity</td>
					<td th:text="${applicant.capacity}"></td>
				</tr>
				<tr>
					<td>Payment Made (£)</td>
					<td th:text="${applicant.payment}"></td>
				</tr>
			
	 		</tbody>
		</table>
	</div>
</body>
</html>